*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dropdown {
  width: 288px;
  height: 46px;
  background: white;
  border-radius: 4px;
  position: relative;
}

.dropdown::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9999;
  width: 14px;
  height: 9px;
  background: url("./img/arrow.svg") no-repeat center/cover;
  pointer-events: none;
}

.dropdown input {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 0 18px;
  border: 0;
  cursor: pointer;
  outline: 1px solid rgba(0, 0, 0, 0.23);
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

.dropdown input:focus {
  outline: 2px solid #d7e164;
}

.dropdown .options {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  background: white;
  border: none;
  outline: none;
  font-size: 16px;
  overflow: hidden;
  position: absolute;
  top: 48px;
  transition: all 0.2s ease;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
              rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
              rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
  z-index: 99999;
}

.dropdown .options .option {
  height: 46px;
  padding: 0 18px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  color: #292d34;
}

.dropdown .options .option:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.dropdown .options .selected {
  background-color: rgb(244, 246, 211);
}

.dropdown.opened .options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown.opened::before {
  transform: rotate(-180deg);
  top: 20px;
}

.wrapper {
  position: relative;
}

.circle {
  position: absolute;
  border-radius: 100%;
  opacity: 0.6;
}

.circle.one {
  width: 250px;
  height: 250px;
  background: linear-gradient(45deg, rgb(42, 179, 248), rgb(91, 197, 250));
  top: -120px;
  left: -80px;
  z-index: -1;
  box-shadow: 0 10px 25px rgba(42, 179, 248, 0.4);
}

@media (max-width: 575px) {
  .circle.one {
    width: 160px;
    height: 160px;
    left: -40px;
  }
}

.jssecrets {
  font-weight: 500;
  text-decoration: none !important;
  font-family: "Urbanist";
  padding: 16px;
  background: #ffc805;
  color: #000;
  font-size: 1.2em;
  letter-spacing: 0.2px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(184, 144, 0, 0.188), 0 8px 24px rgba(184, 144, 0, 0.376);
  position: absolute;
  bottom: 24px;
  right: 24px;
  transition: transform 0.3s;
}

.jssecrets:hover {
  transform: translateY(-4px);
}

@media (max-width: 400px) {
  .dropdown {
    width: 240px;
  }
  .circle.one {
    display: none;
  }
}
